body {
    background-color: rgb(0, 0, 0);
    border-radius: 2em;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Ajusta la altura según tus necesidades */
    width: 600px; /* Ajusta el ancho según tus necesidades */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 0, 0, 0.459);
    border-radius: 2em;
    width: 50%; /* Ajusta el ancho según tus necesidades */
    height: 50%; /* Ajusta la altura según tus necesidades */
    padding: 20px;
    box-sizing: border-box;
}
.first-container {
    display:flex;
    flex-direction: column;
}
.rec-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rec-container span h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    font-size:24px;
}

button {
    border: none;
    border-radius: 2em;
    color: white;
    background-color: rgb(138, 209, 5);
    margin: 5px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out;
}

button:hover {
    background-color: rgba(182, 255, 94, 0.689);
}

.rec-container img {
    position: relative;
    width: 24px;
    padding: 12px;
}

.logo-container img {
    width: 128px;
    padding: 12px;
    border-radius: 2em;
}